@charset 'UTF-8';
@import 'compass';
$darktheme: #282727;
$lightyellow: #faf2e0;
$blog-buffer: 20px;
@mixin clearfix {
  &:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
  }
}
.wrapper {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.clearfix {
  @include clearfix;
}
.contents-wrapper {
  padding-top: 70px;
}
.lower-top {
  height: 300px;
  overflow: hidden;
  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}
.darktheme {
  background-color: $darktheme;
}
.right-buffer {
  margin-right: 10px;
}
.right-buffer-padding {
  padding-right: 10px;
}
.contact-form {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  tr {
    th {
      @extend .font-bold;
      padding: 10px;
      width: 40%;
      .require {
        background-color: #c64242;
        border-radius: 5px;
        color: #fff;
        float: right;
        font-size: 0.8rem;
        font-weight: normal;
        letter-spacing: 1px;
        margin-left: 10px;
        margin-top: -2px;
        padding: 3px 5px;
      }
    }
    td {
      border-style: none;
      padding: 10px;
      width: 60%;
      .form-group {
        margin-bottom: 0;
      }
      input {
        border-radius: 3px;
        border-style: none;
        background-color: #f0f0f0;
        padding-right: 10px;
        padding-left: 10px;
        width: 100%;
        height: 30px;
        border: 0;
        line-height: 150%;
      }
      textarea {
        border-style: none;
        border-radius: 3px;
        background-color: #f0f0f0;
        padding-right: 10px;
        padding-left: 10px;
        width: 100%;
        border: 0;
        line-height: 150%;
      }
    }
  }
}
.agreespan {
  padding-left: 10px;
}
div.wpcf7 img.ajax-loader {
  @extend .top-buffer;
  margin-left: 20px;
}
.wpcf7-not-valid-tip {
  background-color: #fadede;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  border: 1px solid #ff0000;
  border-radius: 3px;
  line-height: 28px;
  margin-top: 5px;
}
.wpcf7-form .wpcf7-validation-errors {
  padding: 10px;
  text-align: center;
  background-color: #faf2e0;
  border-radius: 3px;
}
.align-center {
  .form-group {
    display: inline-block;
  }
  label {
    display: inline;
    .wpcf7-acceptance {
      margin-top: 0;
    }
  }
}
.blog-thumbnail {
  width: 100%;
  height: auto;
  max-height: 187px;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
#technology {
  background-image: url(#{$img-path}tech.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}
#marketing {
  @extend #technology;
  background-image: url(#{$img-path}marketing.jpg);
}
#trend {
  @extend #technology;
  background-image: url(#{$img-path}trend.jpg);
}
#blog {
  @extend #technology;
  background-image: url(#{$img-path}blog.jpg);
}
.archive-card {
  height: 220px;
}
.blog-top-buffer {
  margin-top: $blog-buffer;
}
.sns-list {
  li {
    display: inline-block;
    text-align: center;
    padding: 0 1px;
    &:hover {
      background: white;
    }
    a {
      background: $lighter-gray;
      font-size: 1.5rem;
      color: white;
      display: block;
      padding: 0;
      i {
        line-height: 30px;
      }
    }
  }
}
.twitter {
  a:hover {
    color: #55acee;
  }
}
.facebook {
  a:hover {
    color: #315096;
  }
}
.googleplus {
  a:hover {
    color: #dd4b39;
  }
}
.pocket {
  a:hover {
    color: #EE4056;
  }
}
.rss {
  a:hover {
    color: #ff8c00;
  }
}
.rss-bg {
  background-color: #ff8c00;
  border: 1px solid #ff8c00;
  transition-duration: 0.2s;
  &:hover {
    background-color: $whitebg;
    color: #ff8c00;
  }
}
.entry p {
  font-size: 1rem;
}
.entry ul {
  padding-left: 1.5rem;
  li {
    list-style-type: disc;
  }
}
.nav-previous {
  float: left;
}
.nav-next {
  float: right;
}
.entry {
  line-height: 1.7;
  img {
    max-width: 100%;
  }
}
.hidden {
  display: none;
}
.entry .jp-relatedposts-headline {
  color: #000;
  border: 0;
}
.lp-wrapper {
  max-width: 1920px;
  width: 100%;
  line-height: normal;
}
.lpplan-top {
  background-image: url(#{$img-path}n_lptop.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}
.trouble {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 700px;
  background-image: url(../images/lp-bg.png);
  background-repeat: repeat;
  position: relative;
}
.achieve-section {
  background-image: url(#{$img-path}lp-bg.png);
  background-repeat: repeat;
}
.seedown {
  position: absolute;
  bottom: -50px;
  left: 50%;
  margin-left: -35px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  padding: 15px;
}
.lp-table {
  display: table;
  width: 100%;
}
.lp-tablecell {
  display: table-cell;
  vertical-align: middle;
}

.height-fixed-kadai {
  height: 160px;
}

.pl-height-fixed {
  height: 220px;
}

.fee-area {
  background-image: url(#{$img-path}new_fee.png);
  background-size: auto;
  background-position: center;
  height: 760px;
}
#fee-title .heading-circle::after {
  background-image: url(#{$img-path}fee-circle.png);
}
#faq-area .heading-circle::after {
  background-image: url(#{$img-path}faq-circle.png);
}
.smaller-p {
  font-size: 1.3rem;
}
.faq-dl {
  font-size: 1.3rem;
  dt {
    padding: 30px 10px 30px 70px;
    border-radius: 3px;
    background-color: #c9f3fc;
    position: relative;
    line-height: 2;
    &::before {
      position: absolute;
      border-radius: 50%;
      color: white;
      width: 50px;
      height: 50px;
      content: "Q";
      line-height: 50px;
      left: 10px;
      top: 24px;
      background-color: #00d1ff;
      text-align: center;
      font-weight: bold;
    }
  }
  dd {
    padding: 30px 10px 30px 70px;
    position: relative;
    line-height: 2;
    &::before {
      position: absolute;
      border-radius: 50%;
      color: white;
      width: 50px;
      height: 50px;
      content: "A";
      line-height: 50px;
      left: 10px;
      top: 24px;
      background-color: #ff0063;
      text-align: center;
      font-weight: bold;
    }
  }
}
.fee-icon {
  position: relative;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    background-image: url(#{$img-path}fee-icon.svg);
    width: 200px;
    height: 200px;
    z-index: -1;
    top: -20px;
    left: -50px;
  }
}
.border-top-bottom {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.lp-topbar {
  width: 100%;
  background-color: #e83343;
  p {
    font-size: 2rem;
  }
}
.lp-top-text {
  padding: 10px 0;
}
.lp-box {
  border: 1px solid #ccc;
  border-radius: 3px;
}
.circle {
  border-radius: 50%;
  border: 1px solid #ccc;
  width: 100px;
  height: 100px;
}
.border-container {
  border: 1px solid #ccc;
}
.lp-case-tab {
  border-radius: 5px 5px 0 0;
}
.border-padding {
  border-left: #000 solid 10px;
  padding-left: 20px;
}
.contact-box {
  height: auto;
  position: relative;
  a {
    display: block;
  }
}
.cb-btn-1 {
  position: absolute;
  bottom: 133px;
  right: 56px;
  width: 483px;
  &:hover {
    opacity: 0;
  }
}
.cb-btn-2 {
  position: absolute;
  bottom: 34px;
  right: 56px;
  width: 483px;
  &:hover {
    opacity: 0;
  }
}
.cb-title-height {
  line-height: 100px;
  text-align: center;
}
.greenbg {
  background-color: #54DAA3;
}
.bluebg {
  background-color: #00d1ff;
}
.skyblue-bg {
  background-color: #e2faff;
}
.lightyellow-bg {
  background-color: #FEEFDF;
}
.bluetext-lp {
  color: #00d1ff;
}
.heading-circle {
  position: relative;
}
.solve {
  position: relative;
  z-index: 2;
}
.solve::after {
  content: "";
  position: absolute;
  background-image: url(#{$img-path}solve.svg);
  width: 150px;
  height: 150px;
  z-index: -1;
  top: -20px;
  right: 0;
}
.good-reason {
  position: relative;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    background-image: url(#{$img-path}good-sign.svg);
    width: 200px;
    height: 200px;
    z-index: -1;
    top: -50px;
    left: -50px;
  }
}
.flow-icon {
  position: relative;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    background-image: url(#{$img-path}flow-icon.svg);
    width: 200px;
    height: 200px;
    z-index: -1;
    top: -30px;
    left: -20px;
  }
}
.comparison-icon {
  position: relative;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    background-image: url(#{$img-path}comparison-icon.svg);
    width: 200px;
    height: 200px;
    z-index: -1;
    top: -30px;
    left: -20px;
  }
}
.heading-circle::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #ccc;
  top: -35px;
  right: 0;
  background-size: cover;
  background-position: center;
}
#trouble .heading-circle::after {
  background-image: url(#{$img-path}trouble.png);
}
#reason .heading-circle::after {
  background-image: url(#{$img-path}reason-circle.png);
}
#flow .heading-circle::after {
  background-image: url(#{$img-path}flow-circle.png);
}
#comparison-title .heading-circle::after {
  background-image: url(#{$img-path}comparison-circle.png);
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 5px solid #eeeeee;
}
.point-list {
  padding: 30px 10px 30px 30px;
  li {
    list-style-type: disc;
  }
}
.clip-board {
  box-shadow: 1px 1px 1px #aaa;
  background-color: $white;
  .tagred,
  .tagblue,
  .tagyellow,
  .taggreen {
    padding: 1px 0;
  }
}
.ms-heading {
  font-size: 3rem;
}

.sp-br {
  br {
    display: none;
  }
}

@media only screen and (max-width:1024px) {
  .contents-wrapper {
    padding-top: 70px;
  }
  .owl-nav {
    display: none;
  }
  .lpplan-top {
    height: 600px;
  }
  .trouble {
    height: 450px;
  }
  .heading-circle::after {
    display: none;
  }
  .solve::after,
  .flow-icon::before,
  .fee-icon::before,
  .good-reason::before,
  .flow-icon::before,
  .comparison-icon::before {
    display: none;
  }
  .seedown {
    bottom: -32px;
    padding: 5px;
  }
  .cb-btn-1 {
    bottom: 26%;
    right: 6%;
    width: 48%;
    &:hover {
      opacity: 1;
    }
  }
  .cb-btn-2 {
    bottom: 7%;
    right: 6%;
    width: 48%;
    &:hover {
      opacity: 1;
    }
  }

  .pl-height-fixed {
    height: auto;
  }
  .height-fixed-kadai {
    height: auto;
  }
  .lp-topbar p {
    font-size: 2rem;
    padding: 3px 0;
}
}
@media only screen and (max-width:768px) {
  .lp-tablecell .medium-heading {
    font-size: 2.2rem;
  }
  .lpplan-top {
    height: 500px;
  }
  .trouble {
    height: 400px;
  }
  .clip-board br {
    display: none;
  }
  .height-fixed-kadai {
    height: 144px;
  }

}

@media only screen and (max-width:768px) and (orientation:landscape) {
  .cb-btn-1 {
    bottom: 28%;
    right: 7.5%;
    width: 85%;
}
  .cb-btn-2 {
    bottom: 7%;
    right: 7.5%;
    width: 85%;
}

.smaller-p {
  font-size: 1rem;
}



}

@media only screen and (max-width:767px) {
  .contents-wrapper {
    padding-top: 0;
  }

}

@media only screen and (max-width:600px) {
  .contents-wrapper {
    padding-top: 0;
  }
  .contact-form {
    tr td {
      display: block;
      width: 100%;
    }
    tr th {
      display: block;
      background: #111;
      width: 100%;
      color: #fff;
    }
  }
  .point-list {
    li {
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  .achieve-section .medium-heading {
    font-size: 2.2rem;
  }
  .lpplan-top {
    background-image: url(#{$img-path}n_kv_sp.png);
    height: 275px;
  }
  .trouble {
    height: 500px;
  }
  .cb-btn-1 {
    bottom: 30%;
    right: 9.3%;
    width: 80%;
  }
  .cb-btn-2 {
    bottom: 7%;
    right: 9.3%;
    width: 80%;
}

  .ms-heading {
    font-size: 1.8rem;
  }

  .sp-br {
    br {
      display: inline;
    }
  }

  .smaller-p {
    font-size: 1rem;
  }

  .pl-height-fixed {
    height: auto;
  }
  .height-fixed-kadai {
    height: auto;
  }

  .lp-topbar p {
    font-size: 1rem;
    padding: 3px 0;
}
}

@media screen and (max-width:600px) and (orientation:portrait) {
  .cb-btn-1 {
    bottom: 26%;
    right: 6.5%;
    width: 47.5%;
}
.cb-btn-2 {
    bottom: 6%;
    right: 6.5%;
    width: 47.5%;
}
.lpplan-top {
    background-image: url(../images/n_kv_sp.png);
    height: 400px;
}


}

@media only screen and (max-width:414px) {
  .cb-btn-1 {
    bottom: 30%;
    right: 9.3%;
    width: 80%;
  }
  .cb-btn-2 {
    bottom: 7%;
    right: 9.3%;
    width: 80%;
}

.lpplan-top {
    height: 275px;
}

}

@media only screen and (max-width:320px) {
  .lpplan-top {
    background-image: url(#{$img-path}n_kv_sp5.png);
    height: 225px;
  }
}
