@charset "UTF-8";
@import 'compass';

.footernav {
  width: 100%;
  max-width: 1000px;
  height: 70px;
  margin: 0 auto;
  ul {
    width: 100%;
    margin: 0 auto;
    li {
      float: left;
      width: (100%/4);
      .sub-menu {
        display: none;
      }
      a {
        display: block;
        text-align: center;
        line-height: 70px;
        color: $white;
        font-size: 1.2rem;
        @extend .condensed-normal;
        letter-spacing: 0.5px;
      }
    }
  }
}

@media only screen and (max-width:600px) {
  .footernav {
    height: 50px;

    ul li a {
      line-height: 50px;
    }
  }

}
