@charset "UTF-8";
@import 'compass';
.menuwrapper {
  height: 70px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  transition-duration: 0.3s;
  transition-property: background-color;
  transition-timing-function: ease;
}
.menuwrapper-lower {
  @extend .menuwrapper;
  background-color: #111;
}
.topmenu {
  height: 70px;
  margin: 0 auto;
  position: relative;
  .cc-1{
    position: absolute;
    top: 6px;
    left: 15px;
    letter-spacing: .5px;
  }
  .cc-2{
    position: absolute;
    bottom: 4px;
    left: 15px;
    font-size: 5px;
    letter-spacing: .5px;
  }
  .bybulluck{
    position: absolute;
    top: 45px;
    left: 170px;
    white-space: nowrap;
  }
  ul {
    float: right;
    .current-menu-item {
      box-shadow: 0 -3px #fff inset;
    }
    li {
      float: left;
      margin-left: 30px;
      a {
        display: block;
        text-align: center;
        line-height: 70px;
        color: $white;
        font-size: 1.2rem;
        @extend .condensed-normal;
        letter-spacing: 0.5px;
      }
    }
  }
}
.topmenu ul > li {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    background-color: transparent;
    transition: all 0.2s ease;
    border-bottom: 3px solid #fff;
    opacity: 0;
    z-index: -1;
  }
  &:hover {
    &::before {
      transform: scaleX(1);
      opacity: 1;
    }
  }
}
.topmenu ul li .sub-menu {
  visibility: hidden;
  position: absolute;
  top: 100%;
  width: 200px;
  background: rgba(0, 0, 0, .5);
  transition: 0.2s;
  transition-delay: 0.2s;
  li {
    float: none;
    height: 40px;
    margin-left: 0;
    border-top: 1px solid #fff;
    position: relative;
    &:hover {
      &::before {
        transform: scaleX(1);
        opacity: 1;
      }
    }
    &::after {
      position: absolute;
      content: "▶︎";
      top: 33%;
      right: 5%;
      color: #fff;
      font-weight: bold;
    }
    &:first-child {
      border-top-style: none;
    }
    &:hover {
      background: #000;
    }
    a {
      font-size: 1rem;
      padding-left: 10px;
      line-height: 40px;
      text-align: left;
    }
  }
}



.topmenu li:hover .sub-menu {
  visibility: visible;
  opacity: 1;
}
.navbar-toggle {
  position: fixed;
  top: 10px;
  right: 60px;
}
.child-menu {
  float: right;
  .current-menu-item {
    border-bottom: 3px solid #111;
  }
  li {
    float: left;
    margin-left: 30px;
    height: 28px;
    a {
      color: #111;
      line-height: 28px;
    }
  }
}

@media only screen and (max-width:1024px) {
  .topmenu {
    .bybulluck {
      left: 110px;
      top: 43px;
    }
  }
}

@media only screen and (max-width:767px)  {
  .topmenu {
    display: inline-block;
    top: -10px;
    left: 0;
    position: fixed;
    z-index: 999999;
    .bybulluck {
      left: 110px;
      top: 32px;
    }
  }


  .menuwrapper,
  .menuwrapper-lower {
    height: auto;
    position: inherit;
  }
  .sub-menu {
    visibility: visible;
  }
  .child-menu {
    display: none;
  }

.slicknav_nav li {
    border-top: 1px solid #ccc;
    padding: 3px 0;
}
.slicknav_nav li:first-child {
    border: 0;
}


}
