@charset "UTF-8";
@import 'compass';
@import 'compass/reset';
$img-path: "../images/";
$black: #111;
$whitebg: #f5f5f5;
$white: #fff;
$margin-t80: 80px;
$top-buffer: 30px;
$gray-text: #666;
$lighter-gray: #999;
$tagredcolor: #d26d6d;
$tagbluecolor: #58ADAD;
$taggreencolor: #87AD5A;
$tagyellowcolor: #B19051;
$tagpurplecolor: #8D6DE9;
$opacity: .2;

@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}
@mixin box-sizing($type) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}

*, *:before, *:after {
  @include box-sizing(border-box);
}
.t-05rem {
  margin-top: 0.5rem;
}
html {
  font-size: 14px;
  @include box-sizing(border-box);
}
body {
  word-wrap: break-word;
  color: #222;
  background: $whitebg;
  font-family: '游ゴシック', YuGothic, sans-serif;
}
h1,
h2,
h3 {
  color: $white;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 1.2rem;
}
h1 {
  font-size: 6rem;
}

img {
  vertical-align: bottom;
}

.heading-op {
  opacity: $opacity;
}

.small-heading {
  font-size: 2rem;
}
.align-center {
  text-align: center;
}
.container-center {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}
.container-c-narrow {
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
}
.large-heading {
  font-size: 4.5rem;
}

.medium-heading {
  font-size: 4rem;
  line-height: 1.3;
}

.font-bold {
  font-weight: bold;
}
.worksimg {
  width: 100%;
  height: auto;
}
p {
  font-size: 1.5rem;
  line-height: 1.8;
}
.align-right {
  text-align: right;
}
.small-text {
  font-size: 1rem;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.white-text {
  color: $white;
}
.gray-text {
  color: $gray-text;
}
.lighter-gray {
  color: $lighter-gray;
}
.black-text {
  color: $black;
}
.redtext {
  color: $tagredcolor;
}
.bluetext {
  color: $tagbluecolor;
}
.greentext {
  color: $taggreencolor;
}
.yellotext {
  color: $tagyellowcolor;
}
.purpletext {
  color: $tagpurplecolor;
}
.whitebg {
  background-color: $whitebg;
}
.blackbg {
  background-color: $black;
}
.purewhitebg {
  background-color: #fff;
}
.companyname {
  line-height: 70px;
  letter-spacing: 1px;
}
.blackbar {
  transition-duration: 0.2s;
  background-color: #111;
}
.box50 {
  width: 50%;
}
.offset-50 {
  margin-left: 50%;
}
.condensed-bold {
  font-family: 'Roboto Condensed','游ゴシック', YuGothic, sans-serif;
  font-weight: 700;
}
.condensed-normal {
  font-family: 'Roboto Condensed','游ゴシック', YuGothic, sans-serif;
  font-weight: 300;
}
.top-buffer {
  margin-top: $top-buffer;
}
.bottom-buffer {
  margin-bottom: $top-buffer;
}
.top-buffer-padding {
  padding-top: $top-buffer;
}
.bottom-buffer-padding {
  padding-bottom: $top-buffer;
}
.margin-t80 {
  margin-top: $margin-t80;
}
.margin-b80 {
  margin-bottom: $margin-t80;
}
.width1000 {
  width: 1000px;
  margin: 0 auto;
}
.section-padding80 {
  padding: 80px 0;
}
.section-padding100 {
  padding: 100px 0;
}
.keyvisual {
  background-image: url(#{$img-path}keyvisual-pc.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}
.kv-table {
  display: table;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  height: 100%;
}
.kv-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.ghostbtn {
  background: transparent;
  border: 2px solid $white;
  &:hover {
    background: $white;
    transition-duration: 0.2s;
    span {
      color: $black;
      transition-duration: 0.2s;
    }
  }
}
.section-table {
  @extend .kv-table;
}
.s-table-cell {
  @extend .kv-table-cell;
}
.whatwedo {
  @extend .keyvisual;
  background-image: url(#{$img-path}whatwedo.jpg);
}
.culture {
  @extend .whatwedo;
  background-image: url(#{$img-path}culture.jpg);
}
.parent-relative {
  position: relative;
}
.child-absolute {
  position: absolute;
  top: -17px;
  left: 0;
}
.child-absolute-top {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 15px;
}
.tagred {
  background: $tagredcolor;
  width: 100px;
  text-align: center;
  padding: 10px 0;
  letter-spacing: 0.5px;
  transition-duration: 0.2s;
}
.tagred-link {
  .tagred:hover {
    background: #f2f2f2;
    color: $tagredcolor;
  }
}
.tagblue {
  @extend .tagred;
  background: $tagbluecolor;
}
.tagblue-link {
  .tagblue:hover {
    background: #f2f2f2;
    color: $tagbluecolor;
  }
}
.taggreen {
  @extend .tagred;
  background: $taggreencolor;
}
.taggreen-link {
  .taggreen:hover {
    background: #f2f2f2;
    color: $taggreencolor;
  }
}
.tagpurple {
  @extend .tagred;
  background: $tagpurplecolor;
}
.tagyellow {
  @extend .tagred;
  background: $tagyellowcolor;
}
.contact-recruit {
  @extend .keyvisual;
  background-image: url(#{$img-path}contact-recruit.jpg);
}
.btn {
  border-radius: 0;
}
.btn-normal {
  background: #201f1f;
  color: #fff;
  border-radius: 0;
  transition: all 0.2s ease;
  &:hover {
    background: $white;
    color: $black;
    border: 1px solid $black;
    font-weight: bold;
  }
}
#engineering {
  background-image: url(#{$img-path}engineering.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#consulting {
  background-image: url(#{$img-path}consulting.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.xs-t-buffer {
  margin-top: 0;
}
.xs-b-buffer {
  margin-bottom: 0;
}
.xs-t-buf-padding {
  padding-top: 0;
}
.xs-b-buf-padding {
  padding-bottom: 0;
}
.rotate-mandt {
  transform: rotate(90deg);
  position: absolute;
  top: 100px;
  right: -75px;
  color: rgba(255,255,255,.1);
  font-family: serif;
}

.rotate-overwhelm {
  transform: rotate(90deg);
  position: absolute;
  right: -130px;
  top: 150px;
  color: rgba(0,0,0,.1);
  font-family: serif;
}

.rotate-result {
  transform: rotate(90deg);
  position: absolute;
  top: 70px;
  color: rgba(255,255,255,.1);
  font-family: serif;
}

.rotate-mediablog {
  transform: rotate(90deg);
  position: absolute;
  right: -65px;
  top: 90px;
  color: rgba(0,0,0,.1);
  font-family: serif;
}

@media only screen and (max-width:1024px) {
  html {
    font-size: 12px;
  }
  h1 {
    font-size: 4.5rem;
  }
  p {
    line-height: 1.5;
    font-size: 1.2rem;
  }
  .large-heading {
    font-size: 4rem;
  }
  .small-heading {
    font-size: 1.5rem;
  }
  .section-padding100 {
    padding: 50px 0;
  }
  .section-padding80 {
    padding: 30px 0;
  }
  .margin-t80 {
    margin-top: 30px;
  }
  .margin-b80 {
    margin-bottom: 30px;
  }
}
.js-height {
  max-height: 768px;
}
@media only screen and (max-width:768px) {
  .xs-t-buffer {
    margin-top: 30px;
  }
  .xs-b-buffer {
    margin-bottom: 30px;
  }
  .xs-t-buf-padding {
    padding-top: 30px;
  }
  .xs-b-buf-padding {
    padding-bottom: 30px;
  }
  br {
    display: none;
  }
}
